/*
 * File: fitness2.css
 * Contract: EU contract 2022-FR01-KA220-HED-000023509
 * Project: FitNESS 2 ERASMUS+
 * File Created: Tuesday, 16th January 2024
 * Authors: Steward OUADI (AgroParisTech),  Olivier VITRAC (INRAE)
 * -----
 * Last Modified: Thursday, 23rd May 2024
 * Modified By: Steward OUADI
 */

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 95%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ec6807;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Style the sidenav links and the dropdown button */
.sidebar a,
.dropdown-btn {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  border: none;
  background: none;
  /* width: 100%; */
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  background-color: #d0743c; /* Base color for top-level */
  padding-left: 16px; /* Base left padding */
}

.sidebar a:hover {
  color: #f1f1f1;
}

.dropdown-btn:hover {
  color: #cab6b6;
  /* font-size: 22px; */
}

/* Enhanced CSS for .dropdown-btn.active with rounded borders */
.dropdown-btn.active {
  background-color: #d0743c; /* Slightly lighter orange for contrast */
  color: #ffffff; /* Keep the text color white for readability */
  font-weight: bold; /* Make the font bold */
  border: 2px solid #f2f2f2; /* Add a light border for prominence */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners */
}

/* Styles for first-level child */
.dropdown-container .dropdown-btn {
  background-color: #c06332; /* Slightly darker for first-level child */
  padding-left: 32px; /* Increased padding for first-level child */
}

/* Styles for second-level child */
.dropdown-container .dropdown-container .dropdown-btn {
  background-color: #a95222; /* Even darker for second-level child */
  padding-left: 48px; /* Further increased padding for second-level child */
}

/* Optional: Change the icon color for active state */
.dropdown-btn.active i.fa {
  color: #f2f2f2; /* Light color for the icon */
}

/* Adjusting the dropdown-container for better visual hierarchy */
.dropdown-container {
  background-color: #b25222; /* Even darker shade for dropdown container */
  padding-left: 15px; /* Padding to create visual hierarchy */
}

/* Main content */
.main {
  /* margin-left: 30%; */
  /* Same as the width of the sidenav */
  /* font-size: 20px; */
  /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
  /* padding-left: 10%; */
  transition: margin-left 0.5s;
  padding: 3% 15%;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #c06332;
  color: white;
}

.lecture-button-in-text {
  background-color: #ec6807;
  color: white;
  padding: 1%;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to
          change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #c06332;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 1.5em;
  position: absolute;
  cursor: pointer;
  background-color: #ec6807;
  color: white;
  /* padding: 10px 15px; */
  padding: 1%;
  /* margin: 1% 2%; */
  border: none;
  z-index: 5;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a
        smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }

  .main {
    padding: 5% 20%;
  }
}

.flex-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

/* .footer {
            display: flex;
            flex-direction: column;
            position: fixed;
            bottom: 0;
            width: 100%;
            /* padding-top: 2%; */
/* padding: 5%; */
/* Set the fixed height of the footer here */
/* To complement the .sidebar height and reach 100%. */
/* height: 5%; */
/* Vertically center the text there */
/* line-height: 60px; */
/* background-color: #f5f5f5; */
/* } */

*/ .little-space {
  margin-left: 1%;
}

.star-color-green {
  color: green;
}

.star-color-yellow {
  color: goldenrod;
}

.star-color-red {
  color: darkred;
}

#loader {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

#loader .loader-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #d06f1c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 25%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

video {
  width: 80%;
  /* Make the video width based on its containers width */
  height: auto;
  /* Maintain the video's aspect ratio */
}

@media screen and (min-width: 600px) {
  /* Adjust styles for screens with a minimum width of 600px */
  video {
    max-width: 600px;
    /* Limit the video player's width on larger screens */
    margin: 0 auto;
    /* Center the video player */
  }
}

#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6,
#main-content p,
#main-content ul {
  display: flex; /* Use flexbox to enable easy centering */
  flex-direction: column; /* Stack children vertically */
  max-width: 90%; /* Max width to prevent stretching on very wide screens */
  word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
  overflow-wrap: break-word; /* Standard CSS property, equivalent to word-wrap */
}

@media (max-width: 768px) {
  #main-content {
    max-width: 95%; /* Allow content to use more width on small screens */
  }
}

#main-content .inline-icon {
  display: inline; /* Change display from flex to inline for this specific h2 */
  flex-direction: row; /* This line is not needed since display is no longer flex */
  max-width: 100%; /* Allow the h2 to take the full width if needed */
  word-wrap: normal; /* Remove word breaking for this h2 */
  overflow-wrap: normal; /* Remove word breaking for this h2 */
}
