/*
 * File: sideBarMenu.css
 * Contract: EU contract 2017-1-FR01-KA202-037441
 * Project: FitNESS ERASMUS+
 * File Created: Tuesday, 8th December 2020
 * Author: Steward OUADI
 * -----
 * Last Modified: Tuesday, 22nd December 2020
 * Modified By: Steward OUADI
 * -----
 */

body {
  font-family: arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #818181; */
  /* display: block; */
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 5;
}

.openbtn:hover {
  background-color: #444;
}

.reveal-global-div {
  transition: margin-left 0.5s;
  padding: 16px;
}

#menufithead2,
#menufithead1,
#menufithead3 {
  color: #d0701c;
  font-size: 1.6rem;
}

small {
  color: #d0701c;
}

#menuabstract {
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #e6e6e6;
}

#menutopic {
  margin-bottom: 30px;
}

#menufitbody {
  color: #322289;
}
td address {
  color: #322289;
}

address a {
  color: #c6392e;
  font-weight: bold;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
